__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.env
*.sqlite3
storage/
staticfiles/
media/
.pytest_cache/
.coverage
htmlcov/
.mypy_cache/
.ruff_cache/
dist/
build/
docs/*.md
docs/software/*.*
docs/software/figures/*.*
docs/software/figures/icons/*.*
!docs/Example.md
!docs/software/figures/appendix/*
!docs/software/eval/*
tests/*
*.log

